# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Another
roodmap.rtl.md
leitner_app.spec
*.rar